// Primaries
$color-lightblue-82s-24l: hsl(200, 82%, 24%);
$color-lightblue-72s-31l: hsl(200, 72%, 31%);
$color-lightblue-68s-35l: hsl(200, 68%, 35%);
$color-lightblue-59s-43l: hsl(200, 59%, 43%);
$color-lightblue-54s-49l: hsl(200, 54%, 49%);
$color-lightblue-60s-58l: hsl(200, 60%, 58%);
$color-lightblue-66s-69l: hsl(200, 66%, 69%);
$color-lightblue-71s-80l: hsl(200, 71%, 80%);
$color-lightblue-88s-90l: hsl(200, 88%, 90%);
$color-lightblue-100s-96l: hsl(201, 100%, 96%);

$color-green-86s-14l: hsl(125, 86%, 14%);
$color-green-73s-20l: hsl(125, 73%, 20%);
$color-green-56s-29l: hsl(125, 56%, 29%);
$color-green-47s-35l: hsl(122, 47%, 35%);
$color-green-39s-41l: hsl(122, 39%, 41%);
$color-green-35s-51l: hsl(123, 35%, 51%);
$color-green-38s-63l: hsl(123, 38%, 63%);
$color-green-42s-75l: hsl(122, 42%, 75%);
$color-green-49s-84l: hsl(126, 49%, 84%);
$color-green-65s-93l: hsl(125, 65%, 93%);

// Neutrals
$color-coolgrey-24s-16l: hsl(210, 24%, 16%);
$color-coolgrey-20s-25l: hsl(209, 20%, 25%);
$color-coolgrey-18s-30l: hsl(209, 18%, 30%);
$color-coolgrey-14s-37l: hsl(209, 14%, 37%);
$color-coolgrey-12s-43l: hsl(211, 12%, 43%);
$color-coolgrey-10s-53l: hsl(211, 10%, 53%);
$color-coolgrey-13s-65l: hsl(211, 13%, 65%);
$color-coolgrey-16s-82l: hsl(210, 16%, 82%);
$color-coolgrey-15s-91l: hsl(214, 15%, 91%);
$color-coolgrey-33s-97l: hsl(216, 33%, 97%);

// Supporting
$color-purple-85s-18l: hsl(263, 85%, 18%);
$color-purple-72s-25l: hsl(262, 72%, 25%);
$color-purple-69s-31l: hsl(262, 69%, 31%);
$color-purple-60s-38l: hsl(262, 60%, 38%);
$color-purple-48s-46l: hsl(262, 48%, 46%);
$color-purple-43s-51l: hsl(262, 43%, 51%);
$color-purple-47s-58l: hsl(261, 47%, 58%);
$color-purple-54s-68l: hsl(261, 54%, 68%);
$color-purple-68s-84l: hsl(261, 68%, 84%);
$color-purple-61s-93l: hsl(262, 61%, 93%);