/*
 *  Typography
 */

@charset 'utf-8';

// Fonts
$font-landing: 'Evergreen';
$font-base: 'Roboto', Helvetica, sans-serif;
$font-headline: 'Roboto', Helvetica, sans-serif;
$font-article: 'Merriweather', serif;


// Font Weights
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
