/*
 *  Base
 */

@charset 'utf-8';

body {
  background-color: $color-coolgrey-33s-97l;
  color: $color-coolgrey-24s-16l;
  font-family: $font-base;
}

h1 {
  font-size: 36px;
  font-family: $font-headline;
  font-weight: $font-weight-bold;
}

h2 {
  font-size: 28px;
  font-family: $font-headline;
  font-weight: $font-weight-bold;
}

h3 {
  font-size: 20px;
  font-family: $font-headline;
  font-weight: $font-weight-medium;
}