/*
 *  Base
 */

@charset 'utf-8';

body {
  color: $color-coolgrey-24s-16l;
  font-family: $font-base;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-headline;
  margin: 0;
}

h1 {
  font-size: 36px;
  font-weight: $font-weight-bold;
}

h2 {
  font-size: 28px;
  font-weight: $font-weight-bold;
}

h3 {
  font-size: 20px;
  font-weight: $font-weight-medium;
}

p {
  margin: 0;
}

a {
  color: $color-lightblue-54s-49l;
  text-decoration: none;
  transition: 0.15s ease-in-out;

  &:hover,
  &:focus {
    color: $color-lightblue-82s-24l;
    transition: 0.05s ease-in-out;
  }
}
