/*
 *  Base
 */

@charset 'utf-8';

body {
  background-color: $color-coolgrey-33s-97l;
  color: $color-coolgrey-24s-16l;
  font-family: $font-base;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-headline;
  margin: 0;
}

h1 {
  font-size: 36px;
  font-weight: $font-weight-bold;
}

h2 {
  font-size: 28px;
  font-weight: $font-weight-bold;
}

h3 {
  font-size: 20px;
  font-weight: $font-weight-medium;
}

a {
  color: $color-lightblue-54s-49l;
  text-decoration: none;
  transition: 0.15s ease-in-out;

  &:hover,
  &:focus {
    color: $color-lightblue-82s-24l;
    transition: 0.05s ease-in-out;
  }
}

article {
  p {
    text-align: justify;
    line-height: 1.6;
    font-family: $font-article;
    font-size: 15px;
    color: $color-coolgrey-20s-25l;
  }
}