/*
 *  Breakpoints
 */

@charset 'utf-8';

@mixin for-size($range) {
  $phone-upper-boundary: 768px;
  $tablet-portrait-upper-boundary: 1024px;
  $tablet-landscape-upper-boundary: 1200px;

  @if $range == phone-only {
    @media (max-width: #{$phone-upper-boundary - 1}) {
      @content;
    }
  } @else if $range == tablet-portrait-up {
    @media (min-width: $phone-upper-boundary) {
      @content;
    }
  } @else if $range == tablet-landscape-up {
    @media (min-width: $tablet-portrait-upper-boundary) {
      @content;
    }
  } @else if $range == desktop-up {
    @media (min-width: $tablet-landscape-upper-boundary) {
      @content;
    }
  }
}