@mixin google-font($font-family) {
  @import url("https://fonts.googleapis.com/css?family=#{$font-family}&display=swap");
}

@mixin local-font($font-family, $font-family-file) {
  @font-face {
    font-family: $font-family;
    src: url("../fonts/#{$font-family-file}.woff2") format("woff2"),
         url("../fonts/#{$font-family-file}.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
}