@mixin image() {

}

@mixin background($img-path,
                  $position: center,
                  $size: cover,
                  $repeat: no-repeat,
                  $blend-mode: multiply,
                  $rgba: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5))) {
  background: {
    image: url($img-path), $rgba;
    position: $position;
    size: $size;
    repeat: $repeat;
    blend-mode: $blend-mode;
  }
}