/*
 *  Content Component
 */

@import '../../assets/scss/colors';
@import '../../assets/scss/typography';
@import '../../assets/scss/mixins/breakpoints';


.content {
  flex-basis: 50%;
  
  &__container {

  }
}