@import '../../assets/scss/base/colors';

.page {
  height: 100vh;
  width: 100vw;
  background-color: $lightgrey;
}

.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 48em;
  align-items: flex-start;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  min-height: 700px;
  width: 100%;
}
