@import '../assets/scss/base/colors';

.intro {
  margin-bottom: 4em;

  img {
    height: 16em;
    border-radius: 50%;
    margin-bottom: 1.5em;
  }

  .description {
    margin-top: 1em;
    padding-bottom: 1.5em;

    p {
      font-size: 1em;
      line-height: 1.5em;
      margin: 0.5em 0;
    }

    a {
      padding: 1em 2em;
      border: 1px solid $grey;
      transition: 0.2s ease-in-out;
      color: $black;
      text-decoration: none;
  
      &:hover {
        border: 1px solid $black;
        transition: 0.3s ease-in-out;
      }
    }

    .resume {
      padding-top: 1.5em;
    }
  }

  .profileImage {
    display: flex;
    justify-content: center;
  }
}

.section {
  margin: 2em 0;

  h3 {
    margin: 0;
  }

  p {
    margin: 0;
    padding-bottom: 0.5em;
  }

  .postings {
    .posting {
      margin-bottom: 1.5em;

      .title {
        padding-top: 1em;
        font-weight: 400;
      }

      .location {
        opacity: 0.7;
      }

      .date {
        opacity: 0.7;
      }
    }
  }
}

.contact {
  margin: 4em auto;

  .details, .button {
    display: inline-block;
  }

  .details {
    h3 {
      margin-top: 0;
      margin-bottom: 1em;
    }

    p {
      margin-bottom: 0;
    }
  }

  .button {
    margin-top: 2em;

    a {
      padding: 1em 2em;
      border: 1px solid $grey;
      transition: 0.2s ease-in-out;
      color: $black;
      text-decoration: none;

      &:hover {
        border: 1px solid $black;
        transition: 0.3s ease-in-out;
      }
    }
  }
}

.divider {
  border-top: 0.5px solid $lightgrey;
}

@media screen and (min-width: 768px) {
  .intro {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 3fr 1fr;
  
    img {
      height: 12em;
      margin: 0;
    }

    .profileImage {
      order: 2;
    }
  
    .description {
      margin-top: 1em;
      margin-right: 3em;
      padding-bottom: 1.5em;
      order: 1;
  
      .resume {
        padding-top: 1.5em;
      }
    }
  }

  .section {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 2fr;
    margin: 2em 0;
  
    .postings {
      .posting {
        .title {
          padding-top: 0;
        }
      }
    }
  }

  .contact {
    max-width: 48em;
    width: 100%;
    height: 8em;
    margin: 4em auto;
  
    .details, .button {
      display: inline-block;
    }
  
    .details {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 8em;
      float: left;
    }
  
    .button {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 8em;
      margin-top: 0;
      float: right;
    }
  }
}

@media screen and (min-width: 1024px) {
  .intro {
    img {
      height: 16em;
    }
  
    .description {
      margin-top: 2em;
      margin-right: 8em;
      padding-bottom: 1.5em;
  
      p {
        font-size: 1.1em;
      }
    }
  }

  .section {
    .postings {
      .posting {
        display: grid;
        grid-gap: 1em;
        grid-template-columns: 2fr 1fr;
  
        .date {
          float: right;
        }
      }
    }
  }
}
