.person {
  position: absolute;
  width: 32em;
  height: 12em;
  top: 60%;
  left: 50%;
  margin-left: -16em;
  margin-top: -6em;
}

.name {
  font-family: 'Orbitron', sans-serif;
  font-size: 2.5em;
  font-weight: 1000;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  color: #C6CBF5;
  background: -webkit-linear-gradient(top, #151c60, #c6cbf5 40%, #000 0, #e1a0ce 65%, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  z-index: 2;
}

.title {
  display: block;
  font-family: 'Yellowtail', serif;
  font-size: 3em;
  margin: 0;
  color: #d100b1;
  text-shadow: 0 0 1px #d100b1, 0 -3px 3px hsla(0, 0%, 100%, 0.8), 0 3px 3px rgba(0, 0, 0, 0.5), 0 0 15px #d100b1, 0 0 45px rgba(209, 0, 177, 0.8);
  text-align: center;
  text-decoration: underline;
  text-transform: none;
  -webkit-transform: skew(-10deg) rotate(-10deg);
  transform: skew(-10deg) rotate(-10deg);
  top: 2rem;
  z-index: 3;
}

.triangle {
  fill: url(#grad1);
  -webkit-filter: url(#dropshadow);
  filter: url(#dropshadow);
  position: relative;
  stroke-dasharray: 1200;
  stroke-dashoffset: 1200;
  z-index: 1;

  .offset0 {
    stop-color: rgb(50, 50, 50);
    stop-opacity: 1;
  }

  .offset100 {
    stop-color: #000;
    stop-opacity: 1;
  }
}