@import '../assets/scss/base/colors';

.logo {
  margin-bottom: 1em;

  img {
    height: 8em;
  }
}

.intro {
  text-align: left;
  font-weight: 700;
  font-size: 4em;
  line-height: 1.25em;
  margin: 0.25em 0;

  span {
    display: block;
  }

  .specialization {
    color: $orange;
  }
}

.nav, .social {
  display: inline-block;
  margin-top: 4em;

  p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4em;
    margin: 0;
  }
}

.nav {
  float: left;

  a {
    position: relative;
    font-size: 1.2em;
    color: $black;
    margin-right: 1em;
    padding-bottom: 0.4em;
    text-decoration: none;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 1px;
      bottom: 0;
      left: 0;
      background-color: $black;
      transform-origin: bottom right;
      transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
    }

    &:hover::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
}

.social {
  float: right;

  .socialLink {
    margin-left: 1em;
    padding-bottom: 0.4em;

    img {
      height: 1.5em;
      opacity: 0.4;
      transition: 0.2s ease-in-out;

      &:hover {
        opacity: 1;
        transition: 0.3s ease-in-out;
      }
    }
  }
}