@import '../../assets/scss/base/colors';

.header {
  display: flex;
  background: transparent;
  align-content: center;
  justify-content: center;
}

.pageLinks, .siteLink {
  display: inline-block;
  
  a {
    color: $black;
    position: relative;
    display: inline-block;
    margin: 0.5em 0.75em;
    padding-bottom: 0.4em;
    text-align: center;
    text-decoration: none;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 1px;
      bottom: 0;
      left: 0;
      background-color: $black;
      transform-origin: bottom right;
      transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
    }

    &:hover::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
}
