@import '../../assets/scss/base/colors';

.header {
  padding: 4em 0;
  height: 4em;
}

.container {
  max-width: 48em;
  margin: 0 auto;
}

.nav, .logo {
  display: inline-block;
}

.logo {
  float: left;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

    img {
      height: 4em;
      opacity: 0.6;
      transition: 0.2s ease-in-out;

      &:hover {
        opacity: 1;
        transition: 0.3s ease-in-out;
      }
    }
  }
}

.nav {
  float: right;

  p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4em;
    margin: 0;

    a {
      color: $black;
      position: relative;
      margin-left: 1.5em;
      padding-bottom: 0.4em;
      text-align: center;
      text-decoration: none;

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: $black;
        transform-origin: bottom right;
        transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
      }

      &:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }
  }
}
