@import '../../assets/scss/base/colors';

.header {
  padding: 4em 0;
  height: 4em;
}

.container {
  display: flex;
  align-items: center;
  max-width: 20em;
  height: inherit;
  margin: 0 auto;
}

.burger {
  line-height: 0;
}

.burgerButton {
  outline: none;
  border: none;
  background: none;
  padding: 0;
  line-height: 0;

  img {
    height: 2em;
  }
}

.spacer {
  flex: 1;
}

.logo {
  display: none;
}

.nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 48em;
  }

  .burger {
    display: none;
  }
  
  .nav, .logo {
    display: block;
  }
  
  .logo {
    a {
      display: flex;
      align-items: center;
      margin: 0;
  
      img {
        height: 4em;
        opacity: 0.6;
        transition: 0.2s ease-in-out;
  
        &:hover {
          opacity: 1;
          transition: 0.3s ease-in-out;
        }
      }
    }
  }
  
  .nav {
    p {
      display: flex;
      align-items: center;
      height: 4em;
      margin: 0;
  
      a {
        color: $black;
        position: relative;
        margin-left: 1.5em;
        padding-bottom: 0.4em;
        text-align: center;
        text-decoration: none;
  
        &::after {
          content: "";
          position: absolute;
          width: 100%;
          transform: scaleX(0);
          height: 1px;
          bottom: 0;
          left: 0;
          background-color: $black;
          transform-origin: bottom right;
          transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
        }
  
        &:hover::after {
          transform: scaleX(1);
          transform-origin: bottom left;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 64em;
  }
}
