/*
 *  Header Component
 */

@import '../../assets/scss/colors';
@import '../../assets/scss/typography';
@import '../../assets/scss/mixins/breakpoints';


.header {
  padding: 0;
  margin: 32px 0;

  &__container {
    display: flex;
    margin: 0 20px;

    @include for-size(tablet-portrait-up) {
      max-width: 680px;
      margin: 0 auto;
    }
    
    @include for-size(tablet-landscape-up) {
      max-width: 980px;
    }
  }
}

.brand {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;

  &__image {
    width: 80px;
    color: $color-coolgrey-24s-16l;
    
    @include for-size(tablet-portrait-up) {
      width: 100px;
    }
  }

  &__text {
    color: $color-coolgrey-24s-16l;
    padding-left: 8px;
    
    &-title {
      font-size: 22px;
      margin: 0;
      padding: 0;
      text-transform: uppercase;
    }

    &-subtitle {
      font-size: 14px;
      font-weight: $font-weight-regular;
      margin: 0;
      padding: 0;
      text-transform: lowercase;
    }
  }
}