/*
 *  Default Layout
 */

@import '../../../assets/scss/mixins/breakpoints';


.page {
  &__container {
    display: flex;
    flex-direction: column;
    padding: 0 20px;

    @include for-size(tablet-portrait-up) {
      max-width: 680px;
      margin: 0 auto;
    }

    @include for-size(tablet-landscape-up) {
      flex-direction: row;
      justify-content: space-between;
      max-width: 980px;
      margin-bottom: 128px;
    }
  }
}

.content {
  @include for-size(tablet-landscape-up) {
    width: calc(980px - 220px - 64px);
  }
}