/*
 *  Default Layout
 */

@import '../../../assets/scss/mixins/breakpoints';


.page {
  margin-top: 48px;

  &__container {
    display: flex;
    flex-direction: column;
    margin: 0 16px;

    @include for-size(tablet-portrait-up) {
      max-width: 600px;
      margin: 0 auto;
    }

    @include for-size(tablet-landscape-up) {
      flex-direction: row;
      justify-content: space-between;
      max-width: 840px;
    }
  }
}

.content {
  width: 100%;
  margin-right: 32px;
}