/*
 *  Default Layout
 */

@import '../../../assets/scss/spacings';
@import '../../../assets/scss/mixins/breakpoints';

.page {
  margin-top: 48px;

  &__container {
    max-width: 970px;
    margin: 0 auto;
  }
}