/*
 *  Sidebar Component
 */

@import '../../assets/scss/colors';
@import '../../assets/scss/typography';
@import '../../assets/scss/mixins/breakpoints';


.sidebar {
  margin: 64px 0;

  @include for-size(tablet-landscape-up) {
    min-width: 220px;
    width: 220px;
    margin: 0;
  }
}