/*
 *  Sidebar Component
 */

@import '../../assets/scss/colors';
@import '../../assets/scss/typography';
@import '../../assets/scss/mixins/breakpoints';


.sidebar {
  @include for-size(tablet-portrait-up) {
    position: sticky;
    min-width: 220px;
    width: 220px;
    padding-left: 32px;

    &::before {
      background-color: $color-coolgrey-24s-16l;
      position: absolute;
      content: '';
      width: 1px;
      height: 100%;
      top: 0;
      left: 0;
      bottom: 0;
    }
  }
}