/*
 *  Sidebar Component
 */

@import '../../assets/scss/colors';
@import '../../assets/scss/spacings';
@import '../../assets/scss/typography';
@import '../../assets/scss/mixins/breakpoints';


.sidebar {
  @include for-size(tablet-portrait-up) {
    position: sticky;
    flex-basis: 30%;
  }

  &__container {
    .copyright {
      &__text {
        color: $color-coolgrey-13s-65l;
        font-size: 14px;
      }
    }
  }

  &__title {
    font-size: 20px;
    margin: 0;
    margin-bottom: 8px;
    padding: 0;
    text-transform: uppercase;
  }
}