/*
 *  Sidebar Component
 */

@import '../../assets/scss/colors';
@import '../../assets/scss/spacings';
@import '../../assets/scss/typography';
@import '../../assets/scss/mixins/breakpoints';


.sidebar {
  @include for-size(tablet-portrait-up) {
    position: sticky;
    flex-basis: 30%;
  }

  &__container {
    margin: 0 15px;

    &::after {
      background: linear-gradient(
        180deg, 
        $color-coolgrey-16s-82l 0, 
        $color-coolgrey-16s-82l 48%, 
        $color-coolgrey-33s-97l);
      position: absolute;
      content: '';
      width: .0625rem;
      height: 540px;
      top: 0;
      right: 0;
      bottom: 0;
    }

    .copyright {
      &__text {
        color: $color-coolgrey-12s-43l;
      }
    }
  }
}