/*
 *  SiteNav Component
 */

@import '../../../assets/scss/colors';
@import '../../../assets/scss/typography';
@import '../../../assets/scss/mixins/breakpoints';


.site-nav {
  position: relative;
  padding: 32px 0;

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;

    &-item {
      padding: 0;

      &-link {
        display: inline-block;
        height: 100%;
        width: 100%;
        color: $color-coolgrey-10s-53l;
        font-size: 16px;
        font-weight: $font-weight-regular;
        text-decoration: none;
        padding: 4px 0;
        transition: 0.2s ease-in-out;

        &:hover,
        &:focus {
          color: $color-lightblue-82s-24l;
          padding-left: 8px;
          transition: 0.3s ease-in-out;
        }

        &--active {

          @include for-size(tablet-landscape-up) {
            color: $color-lightblue-82s-24l;
          }

          &::before {
            content: '\003c';
            padding-right: 3px;
          }

          &::after {
            content: '\002f\003e';
            padding-left: 3px;
          }
        }
      }
    }
  }

  &::before {
    content: '';
    background-color: $color-lightblue-68s-35l;
    height: 2px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 64px;
  }
}